/* CSS Document */
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}



/* HEADER */

header {
  background-color: white;

  display: grid;
  align-items: center;

  position: sticky;
  top: 0;
}

h1 {
  display: grid;
  justify-items: center;

  color: white;
  background-color: rgb(33, 36, 37);
  width: 100%;

  padding: 0.5em 0;
  margin-bottom: 0.5em;

  font-size: 16px;
  text-transform: uppercase;
}

nav li {
  margin: 0;
  padding: 0;
}

/* Mobiel menu balk */
header nav:first-of-type {
  margin: 1em;

  display: flex;
  justify-content: space-between;
}

header img {
  height: 1.5em;
}

.menu {
  width: 5em;
  position: relative;
  z-index: 100;
}

.logo {
  height: 0.75em;
}

header a:nth-of-type(2) {
  /* justify-self: end; */
}

header nav ul {
  margin: 0;
  padding: 4em 0 0;
  list-style: none;

  position: fixed;
  left: 0;
  right: 0;
  top: 6em;
  bottom: 0;
  transform: translatex(200%);

  z-index: 50;
}

/* Desktop menu balk */
.bignav{
  width: 100%;
}

.bignav ul{
  display: flex;
  justify-content: center;
}

.bignav a {
  display: flex;
  gap: .25em;
  padding: .25em 1em;
}

/* .shop, .collection {
  justify-self: left;
}

.logo {
  justify-self: center;
}

.about, .contentnav, .search, .cart {
  justify-self: flex-end;
} */

/* Uitgeklapt menu */
.toonMenu {
  transform: translatex(0);
  padding: 1em 0 0 5em;
  display: flex;
  justify-content: left;
  flex-direction: column;
  background-color: white;
}

.toonMenu li {
  padding: 1.5em;
  width: 90%;
}

.toonMenu .shop {
  order: 1;
}

.toonMenu .collection {
  order: 2;
}

.toonMenu .logo {
  display: none;
}

.toonMenu .about {
  order: 3;
}

.toonMenu .contentnav {
  order: 4;
}

.toonMenu .search {
  display: none;
}

.toonMenu .searching{
  display: block;
  align-items: baseline;
  order: -1;
  border-bottom: 0.1em solid black;
}

.toonMenu .searching img {
  margin: 0 0.5em 0 0;
}

.searching {
  display: none;
}

.toonMenu .cart {
  display: none;
}



/* MAIN */

main img {
  width: 100%;
  margin: 1em 0;
}


h2,
h3,
h4 {
  text-transform: uppercase;
  font-size: 1em;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

a h4 {
  text-transform: capitalize;
}

main article:last-of-type {
  margin: 5em 0;
  display: grid;
}

main article:last-of-type h3 {
  font-size: 1.5em;
}

main article:last-of-type form {
  justify-self: center;
  border-bottom: 0.1em solid;
  margin: 2em;
}

.email {
  border-style: none;

  font-weight: 400;
  height: 4em;
  width: 90%;
  padding: 1em;

}

.submit {
  background-color: white;
  border-style: none;
  /* position: absolute; */
  padding: 1;
  height: 4em;
}



/* FOOTER */

footer {
  background-color: rgb(33, 36, 37);
  color: white;
}

footer ul {
  padding: 1em 0;
}

footer li {
  margin: 1em;
  font-weight: 900;
  text-transform: uppercase;
}

footer a {
  color: white;
  font-weight: normal;
  text-transform: capitalize;
  font-size: 0.85em;

}

footer img {
  width: 100%;
}

.copyright {
  padding: 1em 0;
}

.copyright a {
  font-weight: normal;
  font-size: 0.5em;
  margin: 2em;
}



/* Home page */

.home {
  text-align: center;
}

.home article {
  justify-content: center;
}

.goal {
  display: flex;
  flex-direction: column;
  margin: 2em;

}

.goal p {
  margin: 2em 0;
}

.home article:nth-of-type(4) {
  margin: 2em;

}

.home section:first-of-type {
  margin: 2em;

}

.home article:nth-of-type(8) {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 2em 0 4em 0;
}

article:nth-of-type(8) a {
  margin: 0 0.1em;
}

.home article:nth-of-type(8) img {
  margin: 0;
}

.home button {
  border: none;
  background: none;
}

.button {
  font-size: 0.75em;
  text-transform: uppercase;
  background-color: white;

  display: flex;
  justify-content: center;

  margin: 2em;
}

.button:hover,
.button:active,
.button:focus {
  color: rgb(210, 170, 77);
}

.blackbutton {
  font-size: 0.75em;
  text-transform: uppercase;

  color: white;
  background-color: black;
  padding: 0.75em 8em;
}

.home .scrollbar {
  display: flex;
  overflow: scroll;
}

.home .scrollbar h4 {
  text-align: left;
}

.home .scrollbar p {
  color: rgb(111, 111, 111);
  text-align: left;
}

.home .scrollbar a {
  margin: 2em 1em;
}

.home .scrollbar img {
  width: 15em
}

/* RESPONSIVE BANNER */
.sbanner {
  display: block;
}

.bbanner {
  display: none;
}

/* responsive instagram post */
.instaslides {
  display: block;
}

.instaslideb,
.instaslidem {
  display: none;
}



/* Content page */

.content {
  text-align: center;
}

.content main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 1em;
}

.content h2,
.content p {
  font-family: serif;
}

.content h2 {
  font-size: 1.5em;
}

.content main p {
  align-content: center;
  margin: 2em;
}

/* Contact us form */
.contact {
  /* position: relative; */
  display: flex;
  flex-direction: column;
  width: 100%;
}

.contact input,
textarea {
  margin: 0.5em;
  padding: 1em;
  width: 65%;
  border: 0.1em solid goldenrod;
  border-radius: 0.2em;
}

textarea {
  align-self: center;
  font-family: sans-serif;
  margin: 0;
  height: 15em;
}

.content form button {
  /* position: absolute;
  right: 16%;
  bottom: -5em;
  z-index: -1; */
  align-self: flex-end;
  padding: 1em 2em;
  margin: 1em;
  width: 7em;
  text-transform: uppercase;
  color: white;
  background-color: black;
  border: none;
  border-radius: 0.2em;

}

/* Join the fam form */
.join {
  width: 75%
}

.content .submit {
  align-self: flex-end;
}



/* MEDIA */

@media (min-width:38em) {

  /* Home page */

  .sbanner {
    display: none;
  }

  .bbanner {
    display: block;
  }

  .home .scrollbar img {
    width: 20em;
  }

  /* responsive instagram post */
  .instaslidem {
    display: block;
  }

  .instaslides,
  .instaslideb {
    display: none;
  }

}

@media (min-width:55em) {

  /* Header  */

  header nav:first-of-type {
    display: none;
  }

  header .bignav {
    display: block;
    margin: 1.5em;
  }

  header nav {
    justify-self: center;
    order: 0;
  }

  header nav ul {
    position: static;
    transform: none;

    display: flex;

    padding: 0;
    background: none;
  }

  header nav a {
    border: none;
  }

  .menu img {
    display: none;
  }

  
  /* Home page */

  /* responsive instagram post */
  .instaslideb {
    display: block;
  }

  .instaslidem,
  .instaslides {
    display: none;
  }

  /* 2 Boxes */
  article:nth-of-type(4) {
    display: flex;
    flex-direction: row;
    max-width: 100%;
  }

  article:nth-of-type(4) a {
    margin: 1em;
  }

  /* Instaposts */
  .instapost {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: 2em 0;
  }

  .instapost a {
    margin: 0 0.1em;
  }

  .instapost img {
    margin: 0;
  }


  /* Content page */

  .content main {
    margin: 5em;
  }

  /* FOOTER  */

  footer nav {
    display: flex;
    flex-direction: row;
    text-align: start;
  }

  footer nav:nth-of-type(2) {
    justify-content: flex-end;
  }

  footer ul {
    margin: 0 2em;
  }

  footer li {
    margin: 1em 0;
  }
}